body {
    background: url('../image/pexels-hasan-albari-1229861.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#image_mov{
    width:12%;
    height: auto;
    float: right;
}

.intro_text{
    color:aliceblue;
}

#intro_text_box{
    color: transparent;
    font-family:cursive;
    float:left;
}

#home_logo{
    width: 40vh;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#info_container{
    font: white;
    background-color: aqua;
    margin-top: -27vh;
    height:50vh;
    position:inherit;
}